#main-next {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 50px 100px 30px;
    background-color: #C3DBC0;
    top: 60px;
    position: relative;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 50px;
}

.tittle-main {
    width: 421px;
    font-family: "Inter", sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    color: #000;}

.paragraph-main {
    width: 421px;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
}

.button-main {
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-color: #094e00;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.button-main:hover {
    transform: scale(1.1);
    background-color: #0c6e00;
}

.img-cartao {
    width: 510px;
    height: 350px;
    margin-top: 30px;
}

@media screen and (max-width: 1130px) {
    #main-next {
        flex-direction: column-reverse;
        padding: 50px 30px 150px 30px;
    }

    .content-main {
        padding: 0;
        gap: 40px;
        text-align: center;
        margin-top: 40px;
    }

    .tittle-main {
        width: 100%;
        font-size: 2.5rem;
    }

    .paragraph-main {
        width: 100%;
        font-size: 1rem;
    }

    .img-cartao {
        width: 350px;
        height: 240px;
    }
}

@media screen and (max-width: 500px) {

    .img-cartao {
        width: 250px;
        height: 150px;
    }

}